@media only screen and (min-width: 576px) {
  .brandName {
    font-size: 25px;
    padding: 30px;
  }
  .headerMenu {
    gap: 30px;
    padding: 15px;
  }
  .menuItem a {
    font-size: 15px;
  }
  .header {
    height: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .baner {
    height: 30vh;
    width: 100%;
    background-size: contain;
  }
  .heading1 {
    font-size: 20px;
    padding: 30px 0 10px 60px;
  }
  .heading2 {
    font-size: 20px;
    padding: 0px 0 19px 60px;
  }

  .pre {
    font-size: 10px;
    padding: 0px 36% 0 60px;
    color: white;
  }

  .LearnMoreBTN {
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    position: absolute;
    left: 10.5%;
    top: 160px;
    font-size: 15px;
  }
  .iconBox1 {
    height: 30px;
    width: 30px;
    left: 47%;
  }
  .iconBox2 {
    height: 30px;
    width: 30px;
    left: 54%;
  }
  .iconLeft {
    font-size: 20px;
    padding: 7px;
  }
  .iconRight {
    font-size: 20px;
    padding: 7px;
  }

  .Sec1MainDiv {
    height: 600px;
    width: 100%;
    flex-direction: column;
    position: relative;
  }
  .sec1div1 {
    height: 100%;
    width: 600px;
  }
  .per {
    font-size: 15px;
    text-align: center;
    padding-right: 70px;
    padding-left: 70px;
  }

  .Sec1Div2 {
    height: 100%;
    width: 200px;
  }

  .img1 {
    height: 300px;
    width: 300px;
    padding-top: 0;
    position: absolute;
    left: 25%;
    top: 45%;
  }
  .Sec2Pre {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 15px;
    font-family: sans-serif;
    padding-bottom: 40px;
  }
  .Sec2Div1 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 80px;
  }
  .BtnReedMore {
    height: 40px;
    width: 120px;
    left: 40%;
    top: 102%;
    font-size: 15px;
  }
  .mainDiv {
    gap: 30px;
    height: 230px;
  }
  .container {
    width: 150px;
    height: 150px;
  }
  .SeeMoreBtn {
    height: 40px;
    width: 120px;
    font-size: 15px;
    margin-bottom: 50px;
  }
  .Sec4Formdiv {
    width: 80%;
  }
  .name {
    width: 400px;
  }
  .mail {
    width: 400px;
  }
  .phno {
    width: 400px;
  }
  .msg {
    width: 400px;
  }
  .footer {
    height: 400px;
    width: 100%;
    background-color: black;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .box1 {
    height: 200px;
    width: 300px;
    margin-top: 30px;
  }
  .box2 {
    height: 200px;
    width: 300px;
    margin-top: 30px;
  }
  .box3 {
    height: 200px;
    width: 300px;
    margin-top: 30px;
  }
  .Sec3MainDiv {
    height: 1030px;
  }
  .head1Box1 {
    padding: 0;
  }
  .p1 {
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
  }
  .p2 {
    font-size: 15px;
    text-align: center;
  }
  .p3 {
    font-size: 15px;
    text-align: center;
  }
  .p4 {
    font-size: 15px;
    text-align: center;
  }
  .P4 {
    font-size: 15px;
    text-align: center;
  }
  .p5 {
    font-size: 15px;
    text-align: center;
  }
  .footerHead1 {
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
  }
  .footerHead2 {
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
  }
  .footerHead3 {
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
  }
  .footerHead4 {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
  .brandName {
    font-size: 25px;
    padding-left: 3px;
  }
  .headerMenu {
    gap: 20px;
    padding: 35px;
  }
  .baner {
    height: 40vh;
    width: 100%;
    background-size: contain;
  }
  .pre {
    font-size: 15px;
    padding: 0px 46% 0 60px;
  }
  .LearnMoreBTN {
    height: 30px;
    width: 100px;
    left: 8%;
    top: 210px;
    font-size: 15px;
}
.headsec1 {
  font-size: 35px;
  padding-top: 20px;
  padding-left: 100px;
}
.per {
  font-size: 20px;
  padding-right: 30px;
  padding-left: 100px;
}
.Sec3MainDiv {
  height: 740px;
}
.footer {
  height: 450px;
  gap: 50px;
}
}

@media only screen and (min-width: 1024px) {
  .brandName {
    font-size: 30px;
    padding: 20px;
  }
  .headerMenu {
    gap: 20px;
    padding: 30px;
  }
  .menuItem a {
    font-size: 20px;
  }
  .header {
    height: 80px;
    width: 96.7%;
  }
  .baner {
    background-size: contain;
  }
  .heading1 {
    font-size: 40px;
    padding: 50px 0 20px 150px;
  }
  .heading2 {
    font-size: 40px;
    padding: 0 0 0 150px;
  }
  .pre {
    font-size: 20px;
    padding: 10px 50% 0 150px;
    color: white;
  }
  .LearnMoreBTN {
    height: 40px;
    width: 120px;
    left: 14%;
    bottom: 12%;
  }
  .iconBox1 {
    bottom: 12%;
    left: 41%;
  }
  .iconBox2 {
    left: 47%;
    bottom: 12%;
  }
  .baner {
    height: 50vh;
  }
  .headsec1 {
    font-size: 40px;
    padding-top: 80px;
  }
  .per {
    font-size: 20px;
    padding-left: 40px;
  }

  .img1 {
    height: 400px;
    width: 400px;
    padding-top: 80px;
  }

  .BtnReedMore {
    height: 50px;
    width: 130px;
    left: 20%;
    bottom: 30%;
  }
  .Sec2Div1 {
    font-size: 40px;
    font-weight: 900;
    padding: 30px;
  }
  .Sec2Pre {
    padding-left: 180px;
    padding-right: 180px;
    font-size: 20px;
    font-family: sans-serif;
    padding-bottom: 40px;
  }
  .container {
    width: 200px;
    height: 200px;
  }
  .mainDiv {
    height: 250px;
  }
  .box1 {
    height: 200px;
    width: 300px;
    margin-top: 50px;
  }
  .box2 {
    height: 200px;
    width: 300px;
    margin-top: 50px;
  }
  .box3 {
    height: 200px;
    width: 300px;
    margin-top: 50px;
  }
  .icon1 {
    height: 50px;
    width: 40px;
    padding: 20px 0 0 130px;
  }
  .head1Box1 {
    padding-top: 5px;
  }
  .pre1Box1 {
    padding: 15px;
  }
  .icon2 {
    height: 50px;
    width: 40px;
    padding: 20px 0 0 130px;
  }
  .pre2Box2 {
    padding: 15px;
  }
  .icon3 {
    height: 50px;
    width: 40px;
    padding: 20px 0 0 130px;
  }
  .Sec3MainDiv {
    height: 580px;
  }
  .pre3Box3 {
    padding: 15px;
  }
  .Sec4Formdiv {
    width: 80%;
  }
  .MapDiv {
    margin-top: 20px;
  }
  .footer {
    height: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .baner {
    height: 80vh;
    width: 100%;
    background-size: contain;
  }
  .header {
    height: 100px;
    width: 100%;
  }
  .brandName {
    font-size: 45px;
  }

  .menuItem a {
    font-size: 25px;
  }
  .headerMenu {
    gap: 30px;
  }
  .heading1 {
    font-size: 70px;
    padding: 100px 0 20px 220px;
  }
  .heading2 {
    font-size: 80px;
    padding: 0 0 0 210px;
  }
  .pre {
    font-size: 20px;
    padding: 40px 60% 0 210px;
  }
  .LearnMoreBTN {
    height: 50px;
    width: 150px;
    left: 14.5%;
    bottom: 20%;
  }
  .iconBox1 {
    bottom: 20%;
  }
  .iconBox2 {
    left: 45%;
    bottom: 20%;
  }
  .img1 {
    height: 500px;
    width: 500px;
    padding-left: 40px;
  }
  .per {
    font-size: 22px;
    padding-left: 50px;
    padding-top: 40px;
  }
  .BtnReedMore {
    height: 60px;
    width: 150px;
    left: 25%;
    bottom: 20%;
  }
  .Sec2Div1 {
    font-size: 45px;
  }

  .Sec2Pre {
    font-size: 22px;
  }
  .mainDiv {
    height: 350px;
  }
  .container {
    width: 300px;
    height: 300px;
  }
  .SeeMoreBtn {
    height: 60px;
    width: 170px;
    margin-bottom: 100px;
  }
  .box1 {
    height: 300px;
    width: 400px;
  }
  .box2 {
    height: 300px;
    width: 400px;
  }
  .box3 {
    height: 300px;
    width: 400px;
  }
  .Sec3MainDiv {
    height: 680px;
  }
}
