/* univarsal proparty */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header start */
.header {
  height: 100px;
  width: 100%;
  background-color: black;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brandName {
  color: white;
  font-size: 45px;
  padding: 20px;
}

.headerMenu {
  display: flex;
  gap: 30px;
  padding: 35px;
  list-style: none;
}
.menuItem a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.icon {
  color: white;
  font-size: 25px;
}

/* header end */

/* baner start */
.baner {
  height: 80vh;
  width: 100%;
  background: url(./img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: sans-serif;
}

.heading1 {
  font-size: 70px;
  padding: 100px 0 20px 220px;
}
.heading2 {
  color: white;
  font-size: 80px;
  padding: 0 0 0 210px;
}

.pre {
  font-size: 20px;
  padding: 40px 60% 0 210px;
  color: white;
}

.LearnMoreBTN {
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  position: absolute;
  left: 11%;
  bottom: 20%;
  font-size: 20px;
}

.iconBox1 {
  height: 50px;
  width: 50px;
  background-color: white;
  position: absolute;
  left: 47%;
  bottom: 20%;
}
.iconLeft {
  font-size: 30px;
  padding: 10px;
}
.iconBox2 {
  height: 50px;
  width: 50px;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: 20%;
}

.iconRight {
  font-size: 30px;
  padding: 10px;
}

/* baner end */

/* section 1 start */

.Sec1MainDiv {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.sec1div1 {
  height: 600px;
  width: 600px;
}
.Sec1Div2 {
  height: 600px;
  width: 600px;
}

.headsec1 {
  font-size: 45px;
  color: #f76d37;
  text-align: center;
  padding-top: 100px;
}

.per {
  font-size: 22px;
}

.img1 {
  height: 500px;
  width: 500px;
  padding-top: 80px;
}

.BtnReedMore {
  height: 60px;
  width: 150px;
  background-color: black;
  color: white;
  position: absolute;
  left: 25%;
  bottom: 20%;
  font-size: 20px;
}

/* section 1 end */

/* section 2 start */
.Sec2Div1 {
  text-align: center;
  color: #f76d37;
  font-size: 45px;
  font-weight: 900;
  padding: 60px;
  font-family: sans-serif;
}

.Sec2Pre {
  text-align: center;
  padding-left: 360px;
  padding-right: 360px;
  font-size: 20px;
  font-family: sans-serif;
  padding-bottom: 40px;
}

.mainDiv {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.container {
  width: 250px;
  height: 250px;
  border: 5px solid black;
  overflow: hidden;
}

.image1 {
  height: 100%;
  width: 100%;
  background: url(./img/p-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}
.image1:hover {
  transform: scale(1.2);
}

.image2 {
  height: 100%;
  width: 100%;
  background: url(./img/p-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.image2:hover {
  transform: scale(1.2);
}

.image3 {
  height: 100%;
  width: 100%;
  background: url(./img/p-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}
.image3:hover {
  transform: scale(1.2);
}

.image4 {
  height: 100%;
  width: 100%;
  background: url(./img/p-4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}
.image4:hover {
  transform: scale(1.2);
}
.image5 {
  height: 100%;
  width: 100%;
  background: url(./img/p-5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}
.image5:hover {
  transform: scale(1.2);
}

.image6 {
  height: 100%;
  width: 100%;
  background: url(./img/p-6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}
.image6:hover {
  transform: scale(1.2);
}

.BTNdiv {
  text-align: center;
}
.SeeMoreBtn {
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  font-size: 20px;
  margin-bottom: 150px;
}

/* section 2 end */

/* section 3 start */
.Sec3MainDiv {
  background: url(./img/big\ image.png);
  height: 680px;
  width: 100%;
  font-family: sans-serif;
}

.head1 {
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 100px 0 25px 0;
}

.Sec3pre {
  text-align: center;
  color: white;
  font-size: 20px;
}

.MainBoxDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.box1 {
  height: 300px;
  width: 400px;
  background-color: #f76d37;
  margin-top: 50px;
}
.boxb {
  display: none;
}

.box1:hover {
  height: 400px;
  background-color: aquamarine;
  .boxb {
    display: block;
    height: 60px;
    width: 120px;
    background-color: black;
    color: #f76d37;
    margin: auto;
    font-size: 20px;
    border: none;
  }
}

.box2 {
  height: 300px;
  width: 400px;
  background-color: #f76d37;
  margin-top: 50px;
}
.boxb2 {
  display: none;
}
.box2:hover {
  height: 400px;
  background-color: aquamarine;
  .boxb2 {
    display: block;
    height: 60px;
    width: 120px;
    background-color: black;
    color: #f76d37;
    margin: auto;
    font-size: 20px;
    border: none;
  }
}
.box3 {
  height: 300px;
  width: 400px;
  background-color: #f76d37;
  margin-top: 50px;
}
.boxb3 {
  display: none;
}
.box3:hover {
  height: 400px;
  background-color: aquamarine;
  .boxb3 {
    display: block;
    height: 60px;
    width: 120px;
    background-color: black;
    color: #f76d37;
    margin: auto;
    font-size: 20px;
    border: none;
  }
}

.icon1 {
  height: 60px;
  width: 50px;
  padding: 50px 150px 10px 180px;
}
.icon2 {
  height: 60px;
  width: 50px;
  padding: 50px 150px 10px 180px;
}

.icon3 {
  height: 60px;
  width: 50px;
  padding: 50px 150px 10px 180px;
}
.head1Box1 {
  text-align: center;
  color: white;
  padding-top: 25px;
}
.head2Box2 {
  text-align: center;
  color: white;
}
.head3Box3 {
  text-align: center;
  color: white;
}
.pre1Box1 {
  text-align: center;
  color: white;
  padding: 25px;
}

.pre2Box2 {
  text-align: center;
  color: white;
  padding: 25px;
}

.pre3Box3 {
  text-align: center;
  color: white;
  padding: 25px;
}
/* section 3 end */

/* section 4 start */

.Sec4MainDiv {
  height: 100px;
  width: 100%;
  margin-top: 100px;
  font-family: sans-serif;
}
.Sec4TitleDiv {
  text-align: center;
  color: #f76d37;
  font-size: 40px;
  padding-top: 40px;
}

.Sec4MainDiv2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.Sec4Formdiv {
  background: url(./img/img1.png);
  height: 500px;
  width: 50%;
  background-repeat: no-repeat;
  text-align: center;
}

.name {
  height: 50px;
  width: 720px;
  margin: 15px;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid #f76d37;
  font-size: 20px;
  text-align: center;
}

.mail {
  height: 50px;
  width: 720px;
  margin: 15px;
  border-radius: 10px;
  border: 2px solid #f76d37;
  font-size: 20px;
  text-align: center;
}

.phno {
  height: 50px;
  width: 720px;
  margin: 15px;
  border-radius: 10px;
  border: 2px solid #f76d37;
  font-size: 20px;
  text-align: center;
}

.msg {
  height: 50px;
  width: 720px;
  margin: 15px;
  border-radius: 10px;
  border: 2px solid #f76d37;
  font-size: 20px;
  text-align: center;
}

.sendBTN {
  height: 50px;
  width: 180px;
  margin-top: 40px;
  background-color: #f76d37;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 20px;
}

.MapDiv {
  margin-top: 20px;
}

/* section 4 end */

/* footer strt */
.footer {
  height: 400px;
  width: 100%;
  background-color: black;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  font-family: sans-serif;
  color: white;
}

.footerHead1 {
  padding-top: 50px;
}

.p1 {
  font-size: 25px;
  padding-top: 20px;
}

.p2 {
  font-size: 25px;
}

.p3 {
  font-size: 25px;
}

.p4 {
  font-size: 25px;
}

.p5 {
  font-size: 25px;
}
.footerHead2 {
  padding-top: 50px;
}

.footerHead3 {
  padding-top: 50px;
}

.footerHead4 {
  padding-top: 50px;
}

/* footer end */
